.login {
    width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    @include respond-to(tablet) {
        width: 340px;
    }

    &__wrap {
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 35px;
        padding-left: 30px;
        text-align: center;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);

        @include respond-to(tablet) {
            display: flex;
            flex-direction: column;
            min-height: 450px;
            padding-top: 50px;
            padding-bottom: 55px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;

        @include respond-to(tablet) {
            margin-bottom: 40px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 10px;
    }

    &__form-btn-wrap {
        height: 37px;
        margin-top: auto;
    }
}
