<div class="users-list">
    <ul class="users-list__list">
        {{#if list}}
            {{#each list}}
                <li class="users-list__item">
                    {{{Avatar
                        class="users-list__avatar-wrap"
                        avatarSrc=avatar
                        alt="user-avatar"
                        isMockedAvatar=true
                    }}}
                    <p class="users-list__name">
                        {{login}}
                    </p>
                </li>
            {{/each}}
        {{else unless initState}}
            <p>Пользователи не найдены</p>
        {{/if}}
    </ul>
</div>
