<div class="chat-messages">
    {{#each messages}}
        {{#if date}}
            <time class="chat-messages__date">{{date}}</time>
        {{/if}}

        {{{Message
            currentUserId=../currentUserId
            senderId=user_id
            content=content
            file=file
            time=time
            isRead=is_read
        }}}
    {{/each}}
</div>
