<main class="register">
    <div class="register__wrap">
        <h1 class="register__title">Регистрация</h1>
        <form class="register__form">
            {{#each fields}}
                {{{Field label=label name=name type=type class=class validationType=validationType isTopLabelPosition=true ref=name isTopLabelPosition=true}}}
            {{/each}}

            <div class="register__form-btn-wrap">
                {{{Button text="Создать профиль" onClick=onClick}}}
            </div>
        </form>

        <div class="register__register-link-wrap">
            <a class="link" href="/login.html">Войти</a>
        </div>
    </div>
</main>
