<main class="register">
    <div class="register__wrap">
        <h1 class="register__title">Регистрация</h1>
        <form class="register__form">
            {{#each fields}}
                {{{Field
                    label=label
                    name=name
                    type=type
                    value=value
                    class=class
                    validationType=validationType
                    isTopLabelPosition=true
                    ref=name
                }}}
            {{/each}}

            <div class="register__form-btn-wrap">
                {{{Button text="Создать профиль" onClick=onClick}}}
            </div>
        </form>

        <div class="register__form-error">
            {{{ErrorMessage isValid=error.isValid text=error.invalidText}}}
        </div>

        <div class="register__register-link-wrap">
            {{#Link to="/login"}}Войти{{/Link}}
        </div>
    </div>
</main>
