<main class="error-page">
    <p class="error-page__error">{{error}}</p>
    <p class="error-page__desc">{{desc}}</p>
    {{#Link to="/messenger" class="error-page__link"}}Назад к чатам{{/Link}}
</main>
