<main class="error-page">
    <p class="error-page__error">{{error}}</p>
    <p class="error-page__desc">{{desc}}</p>
    <a href="{{prevLink.link}}" class="error-page__link link">{{prevLink.text}}</a>
</main>