.popup {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.4);
    }

    &__wrap {
        @include center-element;
        z-index: 10;
        width: 290px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 0 6px rgb(0 0 0 / 0.14);

        @include respond-to(tablet) {
            width: 340px;
        }
    }

    &__wrap.xl {
        @include respond-to(tablet) {
            width: 440px;
        }
    }

    &__title {
        margin-bottom: 40px;
        font-size: 15px;
    }

    &__inner-component-wrap {
        margin-bottom: 15px;
    }

    &__close {
        @include cross($grey-dark);
        margin-left: auto;
        margin-top: -8px;
        margin-right: -20px;
    }

    &__form-btn-wrap {
        height: 37px;
    }
}
