<div class="popup hidden">
    <div class="popup__wrap">
        <span class="popup__close" onCli></span>
        <p class="popup__title">{{title}}</p>
        <form class="popup__form">
            {{{Field label=field.label name=field.name type=field.type class=field.class}}}
            <div class="popup__form-btn-wrap">
                {{{Button text=btnText}}}
            </div>
            <p class="popup__error">
                {{field.error}}
            </p>
        </form>
    </div>

    <div class="popup__overlay"></div>
</div>
