<div class="chat">
    {{#if selectedChat}}
        <div class="chat__header">
            {{{ChatHeader
                chatAvatar=selectedChat.avatar
                chatTitle=selectedChat.title
                selectedChatId=selectedChat.id
            }}}
        </div>

        {{{ChatMessages messages=messages currentUserId=currentUserId ref="ChatMessages"}}}

        <div class="chat__footer">
            {{{ChatFooter}}}
        </div>
    {{else}}
        <div class="chat__empty">
            Создайте чат, чтобы отправить сообщение
        </div>
    {{/if}}
</div>
