<div class="chat">
    {{#if selectedChat}}
        {{{ChatHeader selectedChat=selectedChat }}}

        {{{ChatMessages currentUserId=currentUserId }}}

        {{{ChatFooter}}}
    {{else}}
        <div class="chat__empty">
            Создайте или выберите чат, чтобы отправить сообщение
        </div>
    {{/if}}
</div>
