.chat {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow: hidden;

    &__header {
        margin-bottom: 10px;
    }

    &__content-block-date {
        align-self: center;
        margin-bottom: 30px;
        color: $grey-dark;
    }

    &__footer {
        padding: 11px 20px 11px 30px;
    }

    &__empty {
        @include center-element;
        font-size: 16px;
        color: $grey-dark;
    }
}
