.chat {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    overflow: hidden;

    &__empty {
        @include center-element;
        font-size: 16px;
        color: $grey-dark;
    }
}
