<div class="chat">
    {{#if selectedChat}}
        <div class="chat__header">
            {{{ChatHeader chatImg=chatImg chatName=chatName}}}
        </div>

        <div class="chat__content">
            {{#each messages}}
                {{{Message
                    currentUserId=currentUserId
                    senderId=this.user_id
                    text=content
                    img=this.img
                    date=this.date
                    time=this.time
                    isViewed=this.isViewed
                }}}
            {{/each}}
        </div>

        <div class="chat__send-wrap">
            {{{SendForm}}}
        </div>
    {{else}}
        <div class="chat__empty">
            Выберите чат чтобы отправить сообщение
        </div>
    {{/if}}
</div>
