<div class="chat">
    {{#if selectedChat}}
        {{{ChatHeader
            chatAvatar=selectedChat.avatar
            chatTitle=selectedChat.title
            selectedChatId=selectedChat.id
        }}}

        {{{ChatMessages currentUserId=currentUserId}}}

        {{{ChatFooter}}}
    {{else}}
        <div class="chat__empty">
            Создайте или выберите чат, чтобы отправить сообщение
        </div>
    {{/if}}
</div>
