.field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 28px;

    &:not(:last-child) {
        margin-bottom: 25px;
    }

    &--message,
    &--search,
    &--oneline {
        height: 32px;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &--oneline &__input {
        text-align: right;
        padding-left: 80px;
    }

    &--oneline &__error {
        z-index: 11;
        position: absolute;
        top: -7px;
        right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        background: #fff;
    }

    &--file {
        justify-content: center;
        height: auto;

        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }

    &--file &__title {
        position: relative;
        top: 0;
        max-width: 120px;
        margin: auto;
        color: $primary-color;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &--search &__input:focus ~ &__title,
    &--search#{&}--filled &__title,
    &--search#{&}--filled &__icon,
    &--message &__input:focus ~ &__title,
    &--message#{&}--filled &__title,
    &--file &__input {
        display: none;
    }

    &--filled-top &__title,
    &--top-title &__input:focus ~ &__title {
        top: -13px;
        font-size: 9px;
    }

    &--message &__input,
    &--search &__input {
        background-color: $grey-lighter;
        border: none;
        font-size: 12px;
        padding: 0 10px;
    }

    &--search &__title {
        left: 36px;
    }

    &--message &__title {
        left: 10px;
    }

    &__title {
        z-index: 10;
        pointer-events: none;
        position: absolute;
        top: calc(50% - 9px);
        left: 1px;
        color: $grey-dark;
        transition: all 0.2s ease-in-out;
    }

    &__input[disabled] ~ &__title {
        color: $text-color;
    }

    &__icon {
        position: absolute;
        top: calc(50% - 10px);
        left: 10px;
        width: 20px;
        height: 20px;
    }
}
