<div class="account-header">
    <div class="account-header__avatar-action-wrap open-popup">
        {{{Avatar
            class="account-header__avatar-wrap"
            avatarSrc=avatar
            alt="account-avatar"
            isMockedAvatar=true
        }}}
        <div class="account-header__overlay">
            <p>Поменять аватар</p>
        </div>
    </div>
    <div class="account-header__name">
        {{accountName}}
    </div>
</div>
