.send-form {
    display: flex;
    align-items: center;

    &__actions-wrap {
        position: relative;
        display: inline-flex;
    }

    &__action-btn {
        @include reset;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        cursor: pointer;
    }

    &__send-btn-wrap {
        width: 38px;
        height: 32px;
    }

    &__field-wrap {
        flex-grow: 1;
    }
}
