.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid $grey-light;
    margin-bottom: 10px;

    &__title-wrap {
        display: flex;
        align-items: center;
    }

    &__avatar-wrap {
        width: 35px;
        height: 35px;
        overflow: hidden;
        margin-right: 10px;
        border-radius: 50%;
    }

    &__title {
        font-weight: 600;
    }

    &__actions-wrap {
        position: relative;
        display: inline-flex;
    }
}
