<div class="account-img">
    <div class="account-img__img-wrap open-popup">
        <img src="{{accountImg}}" alt="account-img" class="account-img__img" />
        <div class="account-img__overlay">
            <p>Поменять аватар</p>
        </div>
    </div>
    <div class="account-img__name">
        {{accountName}}
    </div>
</div>
